body {
  text-align: center;
}
div {
  display: inline-block;
}
table {
  display: block;
  margin-top: 20px;
}
th {
  background-color: coral;
  border: 1px solid black;
  padding: 10px;
  height: 50px;
}
td {
  text-align: center;
  padding: 10px;
}
